[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
python3-dtls = "*"
asyncio = "*"
pydtls = "*"

[dev-packages]

[requires]
python_version = "3.13"
