Microsoft.AspNetCore.Authentication.JwtBearer      8.0.0      
Microsoft.AspNetCore.OpenApi                       8.0.14      
Microsoft.AspNetCore.SignalR                       1.2.0       
Microsoft.EntityFrameworkCore.Tools                8.0.11      
MySql.EntityFrameworkCore                          8.0.11     
Pomelo.EntityFrameworkCore.MySql                   8.0.0 
Swashbuckle.AspNetCore                             8.1.0     
System.IdentityModel.Tokens.Jwt                    8.0.0    